body{
  background-color: #E7E9ED;
  margin: 30px;
}

h6{
  font-size: 12px;
  font-weight: bold;
  font-family: inherit;
  color:rgb(54, 88, 153);
}

.navbar{
  background-color: #3b5998;
  height: 0px;
}

.navbar-header{
  position: relative;
  left: 110px;
}

.navbar .navbar-brand{
  position: relative;
  top: -3px;
}

.navbar .navbar-brand img{
  height: 25px;
  position: absolute;
  left: -100px;
}

.navbar-form{
  margin-top: 12px;
  margin-bottom: 5px;
}

.navbar-form input{
  height: 25px;
  width: 400px !important;
}

.navbar-form button{
  height: 25px;
  position: relative;
  left: -10px;
  background-color: rgb(244, 245, 248);
  width: 40px;
  border: none;
}

.navbar .navbar-nav li a{
  color: #fff;
}

.navbar .navbar-nav li a:hover{
  color: #fff;
  background-color: #334E8A;
}

.navbar .navbar-nav li a span{
  color: #16223D;
  font-size: 20px;
}

.nav-items{
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}
.nav-items:hover{
  padding-top: 15px;
  padding-bottom: 7px;
}

.glyphicon-picture{
  background-color: #70ba37;
  padding: 5px;
  border-radius: 100px;
  color: White;
}

.hr2{
  position: relative;
  top: -20px;
}

.comment1{
  position: relative;
  top: -45px;
  width: 513px;
  height: 120px;
  background-color: #f6f7f9;
}
.comment1 img{
  border: 0px solid transparent;
  margin: 15px;
  margin-right: 5px;
  padding: 0px;
  border-radius: 0px;
}

.x{
  width: 80%;
  display: inline-block;
  font-size: 12px;
  position: relative;
  top:-10px;
}

.x p{
  display: block;
  font-size: 12px;
  position: relative;
  line-height: 1em;
  margin: 0px;
  top: 23px;
}

.content{
  margin-left: 15px;
  width: 80%;
}
.like-reply{
    word-spacing: 2em;
}


.LCS2 li{
  display: inline;
}

.LCS2{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: Grey;
    margin-top: -10px;
    margin-bottom: 0px;
    padding-left: 20px;
}

.comment-form2{
  position: relative;
  top: -15px;
}

.comment-form2 img{
  border: 0px solid transparent;
  margin: 15px;
  margin-right: 0px;
  padding: 0px;
  border-radius: 0px;
}

.comment-form2 input{
  display: inline;
  width: 435px;
  margin-left: 5px;
  border-radius: 0px;
  height: 35px;
}

#globe{
  background-color: #3b5998;
  padding: 5px;
  border-radius: 100px;
  color: White;
}

#left{
  background-color: #f4427a;
  padding: 5px;
  border-radius: 100px;
  color: White;
}

#liked{
  background-color: #1c7dd8;
  padding: 4px;
  border-radius: 100px;
  color: White;
  margin: 8px 3px 8px 17px;
  font-size: 11px;
}

#main{
  margin-top: 45px;
}

#cover{
  width: 900px;
  height: 300px
}

#cover-image{
   width:100%;
}

#profile-image{
   position: absolute;
   top: -180px;
   width: 200px;
   left: 25px;
   z-index: 10;
 }

#profile-name{
  position: absolute;
  top: 230px;
  left: 250px;
}
#profile-name h1{
  text-shadow: 0 0 3px rgba(0,0,0,0.8);
  color: #fff;
  font-weight: 500;
  font-size: 28px;
}

#profile-buttons{
  position: relative;
  top: -50px;
  left: 400px;
}

#extra-links{
  position: absolute;
  top: 300px;
  left: 30px;
  background-color: White;
  width: 900px;
  height: 36px;
  border-radius: 0px 0px 4px 4px;
}

#second-menu{
  position: relative;
  left: 220px;
}

#xbtna{
  border-radius: 0px;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 0px solid transparent;
  height: 36px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: rgb(75, 79, 86);
}

#xbtnb, #xbtnc, #xbtnd{
  border-radius: 0px;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 0px solid transparent;
  height: 36px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #365899;
}

#xbtne {
  border-radius: 0px;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  height: 36px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #365899;
}

#left-side-intro{
  background-color: White;
  width: auto;
  height: 150px;
  border-radius: 2px;
  font-size: 12px;
}

#left-side-intro h3{
  font-size: 16px;
  font-family: inherit;
  color: inherit;
  padding: 10px;
}

#left-side-intro ul{
  padding-left: 15px;
  padding-right: 15px;
}

#left-side-intro li{
  line-height: 1.5em;
  margin: 10px 0px;
  list-style-type: none;
}

#left-side-intro ul span{
  color: #a9acb2;
}

#left-side-photos{
  background-color: White;
  height: 400px;
  width: auto;
  padding: 0px;
}

#left-side-photos h3{
  font-size: 16px;
  font-family: inherit;
  color: inherit;
  padding: 10px;
}

#left-side-photos #a, #d, #g{
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
  left: 22px;
}

#left-side-photos #b, #e, #h{
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
  left: 9px;
}

#left-side-photos #c, #f, #i{
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
  right: 5px;
}

#left-side-photos img{
  border: 0px solid transparent;
}

#left-side-friends{
  background-color: White;
  height: 420px;
  width: auto;
}

#left-side-friends h3{
  font-size: 16px;
  font-family: inherit;
  color: inherit;
  padding: 10px;
}

#left-side-friends #j, #m, #p{
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
  left: 18px;
}

#left-side-friends #k, #n, #q{
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
  left: 5px;
}

#left-side-friends #l, #o, #r{
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
  right: 8px;
}

#left-side-friends img{
  border: 0px solid transparent;
}


#right-side{
  background-color: White;
  width: auto;
  height: 150px;
  border-radius: 4px;
}

#post-form{
  border-radius: 0px;
  resize: none;
}

#fb-post-tab{
  background-color: #f6f7f9;
  font-size: 12px;
  font-weight: bold;
  margin-top: 20px;
}

#fb-post-tab a{
  background-color: #f6f7f9;
  font-size: 12px;
  font-weight: bold;
  color: #365899;
  border-radius: 0px;
}

#first{
  background-color: #f6f7f9;
  font-size: 12px;
  font-weight: bold;
  color: rgb(75, 79, 86) !important;
}

#bottom-post-menu1, #bottom-post-menu2, #bottom-post-menu3, #bottom-post-menu4, #bottom-post-menu5{
  border: 0px solid transparent;
  height: 40px;
  border-radius: 0px;
  color: LightGrey;
}

#post{
  background-color: #4267b2;
  border-color: #4267b2;
  color: White;
  margin: 5px;
  float: right;
  width: 60px;
  letter-spacing: 1px;
}

#post:hover{
  background-color: #234b8c;
  border-color: #234b8c;
}

#bottom-post-menu6{
  margin: 5px;
  position: relative;
  float: right;
}

#post1{
  background-color: White;
  height: 550px;
  width: auto;
  margin-top: 20px;
}

#post-thumb{
  border: 0px solid transparent;
  margin: 10px;
}

#post1 h2{
  display: inline;
  font-size: 16px;
  position: relative;
  top: -9px;
  margin-left: -5px;
}

#post1 small{
  display: block;
  font-size: 14px;
  position: relative;
  top: -30px;
  left: 81px;
  margin-top: 5px;
  margin-left: -12px;
}

#post1 hr{
  border-color: LightGrey;
  position: relative;
  top: -55px;
  width: 485px;
}

#post-pic{
  border: 0px solid transparent;
  margin: 10px;
  position: relative;
  top: -30px;
  width: 493px;
}

#LCS li{
  display: inline;
}

#LCS{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -60px;
    left: -20px;
    font-weight: bold;
    color: Grey;
}

#comments{
  background-color: #f6f7f9;
  height: 210px;
  margin-top: 0px;
  position: relative;
  top: -60px;
  font-size: 12px;
}

#whoLiked{
  display: inline;
}


#comment2{
  position: absolute;
  width: 80%;
  top: 80px;
}
#comment2 img{
  border: 0px solid transparent;
  margin: 15px;
  margin-right: 5px;
  padding: 0px;
  border-radius: 0px;
}

#comment-form{
  position: relative;
  top: -60px
}

#comment-form img{
  border: 0px solid transparent;
  margin: 15px;
  margin-right: 0px;
  padding: 0px;
  border-radius: 0px;
}

#comment-form input{
  display: inline;
  width: 435px;
  margin-left: 5px;
  border-radius: 0px;
  height: 35px;
}

#comment-btns{
    display: block;
}

#post2{
  background-color: White;
  height: 180px;
  width: auto;
  position: relative;
  top: 220px;
  margin-bottom: 100px;
}

#post2 h2{
  display: inline;
  font-size: 16px;
  position: absolute;
  left: 75px;
  width: 80%;
  top: -8px;
  line-height: 2em;
}

#post2 small{
  display: block;
  font-size: 14px;
}

#post2 hr{
  border-color: LightGrey;
  width: 485px;
}

#post-thumb2{
  border: 0px solid transparent;
  margin: 10px;
  position: relative;
  left: -345px;
}

#commentsP2{
  background-color: #f6f7f9;
  margin-top: 10px;
  width: 513px;
  height: 35px;
  font-size: 12px;
}

#commentsP2 p{
  display: inline;
  font-size: 12px;
  margin: 0px;
}


#post3{
  background-color: White;
  height: 185px;
  width: auto;
  position: relative;
  top: 270px;
}

#post3 h2{
  display: inline;
  font-size: 16px;
  position: absolute;
  width: 80%;
  left: 75px;
  top: -10px;
  line-height: 2em;
}

#post3 small{
  display: block;
  font-size: 14px;
}

#commentsP3{
  background-color: #f6f7f9;
  margin-top: 5px;
  width: 513px;
  height: 35px;
  font-size: 12px;
}

#commentsP3 p{
  display: inline;
  font-size: 12px;
  margin: 0px;
}

#promos {
    float: left;
    width: 250px;
    position: fixed;
    left: 1220px;
    top: 50px;
}

#sponsored{
  color: #666;
  font-size: 12px;
  font-family: inherit;
  text-align: left;
  font-weight: bold;
}

#ad-pic{
  padding: 0px;
  border-radius: 0px;
}

#ad-writing{
  width: 160px;
  font-size: 11px;
  font-family: inherit;
  margin-top: 10px;
}
